.featured-container {
    padding: 3rem 5rem;
    background-image:linear-gradient(rgba(0, 1, 37, 0.557), rgba(0, 2, 48, 0.416)), url("../../assets/bg-featured.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.featured-container h2 {
    font-size: 2rem;
    color: rgb(22, 223, 241);
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.featured-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 4rem;
}