@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a, button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

body {
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* LOADING */
@keyframes spinner {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
#loading-spinner {
    color: aqua;
    animation: spinner 1.5s linear infinite;
}

@keyframes slide-right {
    0% {
        margin-right: 6rem;
    }
    100% {
        margin-right: 0;
    }
}

.slide-right {
    animation-name: slide-right;
    animation-duration: 1s;
}

@keyframes slide-left {
    0% {
        margin-left: 6rem;
    }
    100% {
        margin-left: 0;
    }
}

.slide-left {
    animation-name: slide-left;
    animation-duration: 1s;
}

@keyframes slide-bottom {
    0% {
        margin-top: -6rem;
    }
    100% {
        margin-top: 0;
    }
}

.slide-bottom {
    animation-name: slide-bottom;
    animation-duration: 1s;
}

@keyframes slide-top {
    0% {
        margin-top: 6rem;
    }
    100% {
        margin-top: 0;
    }
}

.slide-top {
    animation-name: slide-top;
    animation-duration: 1s;
}

@keyframes animationPaddingTop {
    0% {
      padding-top: 40px;  
    }

    100% {
        padding-top: 5px;
    }
}

.animation-padding-top {
    animation-name: animationPaddingTop;
    animation-duration: 1s;
}
